{%extends "base-root.html"%}

{%block title%}Privacy{%endblock%}

{%block head%}
{%endblock%}

{%block body%}
<main class="othermain">
    <h2>Privacy Policy</h2>
    <p>
        This privacy policy outlines how this website handles user information.
      </p>
      <h2>Data Collection</h2>
      <p>
        This website does not collect any user IP addresses and does not use any other technologies such as cookies, cache, JS, etc for tracking purposes.
      </p>
      <h2>Data Usage</h2>
      <p>
        Any information entered or submitted by the user on this website will be used solely for the intended purpose and will not be shared with any third parties without explicit consent.
      </p>
      <h2>Data Security</h2>
      <p>
        This website employs strict security measures to protect any information provided by the user. However, please be aware that no data transmission over the internet can be guaranteed to be 100% secure.
      </p>
      <h2>Third-Party Links</h2>
      <p>
        This website may contain links to third-party websites. Please note that we have no control over the content, policies, or practices of these websites. We encourage users to review the privacy policies of any third-party sites visited through this website.
      </p>
      <h2>Changes to this Policy</h2>
      <p>
        This privacy policy may be updated from time to time without prior notice. The revised policy will be posted on this website with the updated effective date.
      </p>
      <h2>Contact Information</h2>
      <p>
        If you have any questions or concerns regarding this privacy policy, please <a href="/contact">contact us</a>.
      </p>
</main>
{%endblock%}
